
body {
	background-color: white;

}

#container, #container-1, #container-2, #container-3, #container-4 {
	display : grid;
	border-color: transparent;
	grid-template-columns: 2.5em 2.5em 2.5em 2.5em;
	grid-template-rows: 2.5em 2.5em 2.5em 2.5em;
	justify-content: center;
	grid-gap: 5px;
	width: 12.5em;
	height : 4em;
	margin : auto;

}

.item {
	display: grid;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	grid-gap: 0;
	border-style: solid;
	border-color: yellow;
	text-decoration-color: white;
}
.items{
	padding: auto;
	margin: auto;
	
}

section {
	margin: 70px auto;
}


